/* Sticking footer at the bottom */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.upperContentOtherThanFooter {
  flex-grow: 1;
}

.main-wrapper {
  margin-top: 0 !important;
  padding-top: 59px;
}
